.o_widgetbusbutton_cell .o_field_empty{
	display: inline-block !important;
}

.o_field_widget .o_widgetbusbutton {
    color: theme-color('danger');
    &.o_has_vehicle_cost {
        color: theme-color('success');
    }
    &.o_no_vehicle_cost{
        color: theme-color('warning');
    }
}