<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="o_viin_map_buttons o_viin_dashboard_subview_buttons">
		<div class="btn-group"></div>
		<div>
			<a class="btn btn-outline-secondary" style="color: white"
				target="_blank"
				href="https://www.google.com/maps/dir/?api=1&amp;waypoints=20.96438,107.04804|20.99861,105.82084|20.34251,105.92655|21.70772,104.87163|20.86727,106.65455|20.86551,106.70926|10.7909,106.70088|21.0194,105.79115|10.75142,106.66196|10.77613,106.64885|20.86311,106.56548|21.02766,105.80449|10.77245,106.69395|21.02776,105.83416|21.03406,105.77032">View
				in Google Maps</a>
		</div>
		<button
			class="btn btn-outline-secondary fa fa-arrows-alt float-right o_button_switch"
			title="" viewtype="viin_map" data-original-title="Full Screen View"></button>
	</div>
	<div class="o_action o_view_controller">

		<div class="o_content">
			<div class="o_viin_map_view row no-gutters">
				<div
					class="o_viin_map_container col-md-12 col-lg-10 leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
					tabindex="0">
					<div class="leaflet-pane leaflet-map-pane"
						style="transform: translate3d(0px, 0px, 0px);">
						<div class="leaflet-pane leaflet-tile-pane">
							<div class="leaflet-layer " style="z-index: 1; opacity: 1;">
								<div class="leaflet-tile-container leaflet-zoom-animated"
									style="z-index: 19; transform: translate3d(0px, 0px, 0px) scale(1);">
									<img alt="" role="presentation"
										src="https://a.tile.openstreetmap.org/1/0/0.png"
										class="leaflet-tile leaflet-tile-loaded"
										style="width: 512px; height: 512px; transform: translate3d(-72px, -465px, 0px); opacity: 1;"><img
										alt="" role="presentation"
										src="https://a.tile.openstreetmap.org/1/1/0.png"
										class="leaflet-tile leaflet-tile-loaded"
										style="width: 512px; height: 512px; transform: translate3d(440px, -465px, 0px); opacity: 1;">
								</div>
							</div>
						</div>
						<div class="leaflet-pane leaflet-shadow-pane">
							<img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(744px, -14px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(741px, -14px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(741px, -12px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(738px, -16px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(743px, -14px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(744px, -14px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(744px, 16px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(744px, 16px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(741px, -14px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(743px, 16px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(743px, 16px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(743px, -14px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(741px, -14px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(743px, 16px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(741px, -14px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(744px, 16px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(741px, -14px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(741px, -14px, 0px);"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-shadow.png"
								class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
								style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(743px, -14px, 0px);">
						</div>
						<div class="leaflet-pane leaflet-overlay-pane"></div>
						<div class="leaflet-pane leaflet-marker-pane">
							<img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(744px, -14px, 0px); z-index: -14;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(741px, -14px, 0px); z-index: -14;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(741px, -12px, 0px); z-index: -12;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(738px, -16px, 0px); z-index: -16;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(743px, -14px, 0px); z-index: -14;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(744px, -14px, 0px); z-index: -14;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(744px, 16px, 0px); z-index: 16;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(744px, 16px, 0px); z-index: 16;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(741px, -14px, 0px); z-index: -14;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(743px, 16px, 0px); z-index: 16;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(743px, 16px, 0px); z-index: 16;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(743px, -14px, 0px); z-index: -14;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(741px, -14px, 0px); z-index: -14;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(743px, 16px, 0px); z-index: 16;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(741px, -14px, 0px); z-index: -14;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(744px, 16px, 0px); z-index: 16;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(741px, -14px, 0px); z-index: -14;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(741px, -14px, 0px); z-index: -14;"><img
								src="http://localhost:8069/viin_web_map/static/lib/leaflet/images/marker-icon.png"
								class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
								alt="" tabindex="0"
								style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(743px, -14px, 0px); z-index: -14;">
						</div>
						<div class="leaflet-pane leaflet-tooltip-pane"></div>
						<div class="leaflet-pane leaflet-popup-pane"></div>
						<div class="leaflet-proxy leaflet-zoom-animated"
							style="transform: translate3d(548.397px, 464.979px, 0px) scale(2);"></div>
					</div>
					<div class="leaflet-control-container">
						<div class="leaflet-top leaflet-left">
							<div class="leaflet-control-zoom leaflet-bar leaflet-control">
								<a class="leaflet-control-zoom-in" href="#" title="Zoom in"
									role="button" aria-label="Zoom in">+</a><a
									class="leaflet-control-zoom-out leaflet-disabled" href="#"
									title="Zoom out" role="button" aria-label="Zoom out">−</a>
							</div>
						</div>
						<div class="leaflet-top leaflet-right"></div>
						<div class="leaflet-bottom leaflet-left"></div>
						<div class="leaflet-bottom leaflet-right">
							<div class="leaflet-control-attribution leaflet-control">
								<a href="https://leafletjs.com"
									title="A JS library for interactive maps">Leaflet</a> | © <a
									href="https://www.google.com/maps/about/" target="_blank">Google
									Map</a> © <a href="https://www.mapbox.com/about/maps/"
									target="_blank">Mapbox</a> © <a
									href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>
								<strong><a href="https://www.mapbox.com/map-feedback/"
									target="_blank">Improve this map</a></strong>
							</div>
						</div>
					</div>
				</div>
				<div class="o_viin_pin_list_container d-none d-lg-block col-2">
					<div class="o_viin_pin_list_header">
						<header>
							<i class="fa fa-list"></i> <span>Dòng</span>
						</header>
					</div>

					<ul class="o_viin_pin_list_details">


						<li class="o_pin_located"><a href="" data-lat="20.96438"
							data-lng="107.04804"> Phương án xây dựng Website - ADV PRO </a></li>

						<li class="o_pin_located"><a href="" data-lat="20.99861"
							data-lng="105.82084"> Triển khai nhân sự cho Homefarm </a></li>

						<li class="o_pin_located"><a href="" data-lat="20.34251"
							data-lng="105.92655"> Chuỗi phân phối bán hàng TC Motor </a></li>

						<li class="o_pin_located"><a href="" data-lat="21.70772"
							data-lng="104.87163"> Phần mềm quản lý chuỗi phân phối thực
								phẩm Sagota Bita </a></li>

						<li title="Could not locate"><span class="text-muted">
								Triển khai Odoo cho chuỗi 04 POS - Công ty TNHH Thương mại Laria
						</span></li>

						<li class="o_pin_located"><a href="" data-lat="20.86727"
							data-lng="106.65455"> Triển khai phân hệ TSCĐ &amp; Nhân sự </a>
						</li>

						<li class="o_pin_located"><a href="" data-lat="20.86551"
							data-lng="106.70926"> Triển khai Viindoo EOS cho Công ty Cổ
								phần Vận tải Traco </a></li>

						<li class="o_pin_located"><a href="" data-lat="10.7909"
							data-lng="106.70088"> v/v module kết nối hóa đơn MISA </a></li>

						<li class="o_pin_located"><a href="" data-lat="10.7909"
							data-lng="106.70088"> V.v các module cần thiết để chạy được
								kế toán việt nam trên Odoo 14 Enterprise Edition </a></li>

						<li title="Could not locate"><span class="text-muted">
								Triển khai phần mềm Bảo Tín </span></li>

						<li title="Could not locate"><span class="text-muted">
								Triển khai giải pháp cho công ty </span></li>

						<li class="o_pin_located"><a href="" data-lat="21.0194"
							data-lng="105.79115"> Khóa đào tạo/tập huấn - Sotatek </a></li>

						<li class="o_pin_located"><a href="" data-lat="10.75142"
							data-lng="106.66196"> YÊU CẦU NÂNG CẤP HỆ THỐNG BÁO CÁO KẾ
								TOÁN </a></li>

						<li class="o_pin_located"><a href="" data-lat="10.77613"
							data-lng="106.64885"> Biểu mẫu xuất excel </a></li>

						<li class="o_pin_located"><a href="" data-lat="20.86311"
							data-lng="106.56548"> Quản lý Hợp đồng nhân sự online và chữ
								ký điện tử </a></li>

						<li title="Could not locate"><span class="text-muted">
								Phần mềm quản lý vận tải hành khách </span></li>

						<li class="o_pin_located"><a href="" data-lat="21.02766"
							data-lng="105.80449"> Triển khai quy trình giao việc (ca
								lệnh) &amp; nhân sự/ kho vận đá bạc </a></li>

						<li class="o_pin_located"><a href="" data-lat="10.77245"
							data-lng="106.69395"> Hỗ trợ điều chỉnh phân quyền </a></li>

						<li class="o_pin_located"><a href="" data-lat="21.02776"
							data-lng="105.83416"> Hệ thống logistics cho các hàng phân
								phối </a></li>

						<li class="o_pin_located"><a href="" data-lat="10.7909"
							data-lng="106.70088"> Fwd: TopERP - chuyển case sao bắc đẩu
								cho viindoo </a></li>

						<li class="o_pin_located"><a href="" data-lat="21.0194"
							data-lng="105.79115"> Đề nghị hợp tác triển khai ERP -
								Sotatek </a></li>

						<li title="Could not locate"><span class="text-muted">
								Công ty TNHH Công Nghiệp Bảo Tiên </span></li>

						<li class="o_pin_located"><a href="" data-lat="21.03406"
							data-lng="105.77032"> V/v Đề xuất hợp tác giữa Stringee và
								Viindoo. </a></li>

						<li class="o_pin_located"><a href="" data-lat="20.86727"
							data-lng="106.65455"> Thiết kế website cho Cty TNHH Thế kỷ
								(Century Corporate) </a></li>


					</ul>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
