.o_mrp_mps {
  background-color: white;

  button {
    &.o_no_padding {
      padding: 0;
    }
  }

  input {
    background: rgba(255, 255, 255, 0.5);
    border-style: groove;
  }

  .form-control {
    padding: 0.2em;
    color: $black;
  }

  .table {
    margin-bottom: 0;

    .product-label {
      width: 30%;
    }

    th, td {
      vertical-align: middle;
      padding: 0.5rem;
    }
  }

  .o_mrp_mps_hover {
    background-color: #d8d8d8;

    &.alert-success {
      background-color: darken(#dbf0d6, 15%);
    }

    &.alert-warning {
      background-color: darken(#fcf7e2, 15%);
    }
  }

}
