.o_kanban_view.o_kanban_dashboard.o_helpdesk_team_kanban_main {
	&>.o_wrap_text {overflow-wrap: anywhere;}
	.btn {padding: 0.75rem 0.75rem;}
	.oe_kanban_bottom_left {padding-left: 0px;}
	.o_wrap_text {overflow-wrap: anywhere;}
}
